body,button{
    font-family: 'Raleway',sans-serif;
    font-size: 15px;
    line-height: 27px;
    
}
.task_bar{
    z-index: 10;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    left: 0px;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#logo{
   letter-spacing: 4px;
}
.right_bar a{
    display: inline-block;
    text-decoration: none;
}
.task_bar a{
   padding:16px;
}
.task_bar a:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
a{
    text-decoration: none;
    color: black;
}
.header_section{
    position: relative;
    margin-top: 56px;
    left: 0px;
    height: 90vh;
    background-image: url("https://img.thuthuat123.com/uploads/2019/07/16/hinh-anh-goku-cuc-dep_030302644.jpg");
    background-size: cover;
    color: white;
    background-position: center;
}

.header_content{
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
}
.header_section .icon_bar{
    position: absolute;
    bottom: 20px;
    left: 50px;
}
#learn_more{
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    padding: 12px 24px;
    margin-top: 20px;
}
#learn_more:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.topic{
    padding: 80px 100px;
    text-align: center;
}
.topic p{
    font-size: 24px;
    margin-bottom: 30px;
}
.topic div{
    font-size: 18px;
}
.about_container{
    display: flex;
    justify-content: space-around;   
    padding: 0px 8px;
}
.about_container .about i{
    font-size: 64px;
    margin-bottom: 40px;
}
.about_container .about{
    text-align: center;
}
.about label{
    font-size: 15px;
}
#about {
    margin-top: 60px;
    margin-bottom: 160px;
}
.viewport{
    padding: 128px 16px 128px 16px;
    background-color:  #F1F1F1;
}
.viewport_content{
    float: left;
    width: 736.388px;
    padding-left: 8px;
}
.viewport img{
    height: 394px;
    width: 700px;
    max-width: 100%;
}
.view_work{
    text-align: center;
    color: white;
    background-color: black;
    padding: 12px 16px;
}
.view_work:hover{
    background-color: #CCCCCC;
    color:black
}
.team_container{

    display: flex;
    justify-content: space-around;
    padding: 0px 8px;
    margin-bottom: 150px;
}
.team_container .member{
    text-align: left;
    border: solid 1px #CCCCCC;
    margin-left: 11px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.team_container .member img{
   height: 234.55px;
   width: 100%;
}
.member_description{
    padding-left: 15px;
}
.member .name{
    padding: 15px 0px 15px 0px;
    font-size: 24px;
}
.member label{
    display: block;
    font-size: 18px;
    color: gray;
    margin-bottom: 20px;
}
.member a{
    display: block;
    margin: 15px 0px 15px 15px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
}
.member a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
.so_lieu{
    display: flex;
    justify-content: space-around;
    background-color: #616161;
    padding: 80px 16px;
    color: white;
    flex-wrap: wrap;
}
.so_lieu div{
    text-align: center;
}
.so_lieu label{
    font-size: 18px;
}
.so_lieu p{
    font-size: 36px;
    margin-bottom: 12px;
}
.our_work{
    padding: 80px 10px;
    
}
.work_images img{
    display: inline-block;
    padding-left: 20px;
    height: 230px;
    width: 24%;
    margin-bottom: 24px;
}
.our_work .work_images{
    text-align: center;
}
.our_skills{
    display: flex   ;
    background-color: #F1F1F1;
    padding: 80px 16px 50px 16px;
    flex-wrap: wrap;
    
}
.skill_content{
    width: 736.388px;
    padding-left: 20px;
}
.skill_content p{
    padding-bottom: 20px;
}
.skill_title{
    letter-spacing: 4px;
    padding: 8px;
}
.skill_information{

    float: left;
    width: 100%;
    max-width: 700px;  
}
.skill_box{
    margin-bottom: 24px;
}
.skill_progress{
    text-align: center;
    width:100%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 28px;
}
.skill_percentage{
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}
.pricing{
    background-color: #616161;
    padding-bottom: 130px;
    overflow: visible;
}
.pricing_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 16px;
}
.pricing_container .price_box{
    width: 480px;
    background-color: white;
    text-align: center;

}
.price_head_black{
    background-color: black;
    color: white;
    padding: 40px 0px;
    font-size: 24px;
}
.price_box:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.price_head{
    background-color: #F44336;
    padding: 55px 0px;
    font-size: 24px;
    color: white;
}
.price_box p{
    padding: 16px 0px;
    border-bottom: solid 1px #CCCCCC;
}
.price{
    padding: 16px 0px;
    border-bottom: solid 1px #CCCCCC;
}
.price div{
    font-size: 30px;
    margin-bottom: 20px;
}
.price label{
    color: gray;
}
.button_container{
    margin:0;
    padding: 23px 0px;
    background-color: #F1F1F1;
}
.button_container button{
    background-color: #000000;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
}
.down{
    margin-top: 17px;
    margin-bottom: 10px;
}
.contact_info i{
    font-size: 30px;
    padding-right: 19px;
}
.contact_info p{
    margin-bottom: 13px;
}
#contact {
    background-color: #F1F1F1;
    padding: 80px 16px 80px 16px;
}
.contact_form input,textarea{
    width: 100%;
    padding: 12px;
    border: solid 1px #CCCCCC;
}
.form_group{
    margin-bottom: 16px;
}

.contact_form button{
    background-color: #000000;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 50px;
}
.Ending_section{
    text-align: center;
    background-color: #000000;
    color: white;
    padding: 80px 16px;
}
.Ending_section .social_media a{
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}
.up{
    display: inline-block;
    color: black;
    padding: 8px 16px;
    margin-bottom: 20px;
    background-color: white;

}
.Ending_section i{
    font-size: 24px;
}

.container, .main, body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.hero-title {
  font-size: 64px;
  line-height: 80px;
}
@media (max-width: 600px) {
  .hero-title { font-size: 45px;
    line-height: 60px
   } 
}
.invalid input{
    border-color: red;
}
.invalid .form_message{
    color: red;
}
